html, body {

    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
 
    position: relative;
    width: 100%;
    height: 150px;
    
    background-image: url(resources/header_background.png);
}

#chatName {

    position: absolute;
    color: rgb(255,255,255);
    
    font-size: 60px;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    
    line-height: 150px;
    height: 100%;
    
    left: 50%;
    margin-left: -165px;  
}

.main {
 
    position: relative;
    width: 100%;
    height: 710px;
    max-height: none;

    background-color: #e2e2e2;
}

.chatWindow {

    position: relative;
    top: 50px;
    height: 606px;
    width: 606px;
    margin: auto;
}

.messageBox {
 
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    position: absolute;
    height: 460px;
    width: 320px;
    overflow: auto;
    background-color: #F2F2F2;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.editBox{
    
    
    position: absolute;
    height: 72px;
    width: 606px;
    top: 484px;
    
}

.buttonBox {
 
    position: absolute;
    width: 606px;
    height: 39px;
    top: 558px;
}

#textBox {

    padding-top: 3px;
    padding-left: 4px;
    position: absolute;
    height: 67px;
    width: 396px;
    overflow: auto;
    outline: 0;
    background-color: #F2F2F2;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.loginBox {
    
    position: absolute;
    height: 30px;
    width: 202px;
    left: 404px;
}

#login {
    
    padding-top: 3px;
    padding-left: 4px;
    padding-bottom: 2px;
    position: absolute;
    height: 24px;
    line-height: 150%;
    outline: 0;
    width: 121px;
    background-color: #F2F2F2;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

#confirmLoginButton {
 
    height: 30px;
    width: 73px;
    left: 130px;
    position: absolute;
    background-color: #58a8a4;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    border: 0;
}

#confirmLoginButton:hover {

    background-color: #58b9b4;
}

#confirmLoginButton:active {
     
    background-color: #4a9591;
}

#sendButton {

    position: absolute;
    display: block;
    height: 28px;
    width: 85px;
    background-color: #58a8a4;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    border: 0;
    
}

#sendButton:hover {

    background-color: #58b9b4;
}

#sendButton:active {
     
    background-color: #4a9591;
}

.usersBox {

    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    position: absolute;
    height: 460px;
    width: 140px;
    margin-left: 402px;
    left: 2px;
    overflow: auto;
    background-color: #F2F2F2;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.footer {
 
    position: relative;
    width: 100%;
    height: 100px;
    
    background-image: url(resources/footer_background.png);
}