html, body {

    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
 
    position: relative;
    width: 100%;
    height: 150px;
    
    background-image: url(resources/header_background.png);
}

#chatName {

    position: absolute;
    color: rgb(255,255,255);
    
    font-size: 60px;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    
    line-height: 150px;
    height: 100%;
    
    left: 50%;
    margin-left: -165px;  
}

.main {
 
    position: relative;
    width: 100%;
    height: 650px;
    max-height: none;

    background-image: url(resources/main_background.png);
}

#chatWindow {

    position: relative;
    top: 50px;
    height: 550px;
    width: 600px;
    margin: auto;
}

#messageBox {
 
    position: absolute;
    height: 480px;
    width: 400px;
    overflow: auto;
    
    border: 2px solid rgb(71, 150, 146);
    border-radius: 10px;
}

#textBox {

    position: absolute;
    height: 70px;
    width: 400px;
    overflow: auto;
    top: 482px;
    
    border: 2px solid rgb(71, 150, 146);
    border-radius: 10px;
}

#message {

    height: 74px;
    width: 404px;
}

#sendButton {

    position: absolute;
    display: block;
    margin-left: 412px;
    height: 40px;
    width: 100px;
    background: url(resources/button_background.png);
    border-radius: 60px;
    top: 489px;
    cursor: pointer;
    
    box-shadow: 0 5px 20px rgba(38, 101, 98, 0.25), inset 0 2px 0 rgba(255,255,255,.6), 0 3px 0 rgba(38, 101, 98,.1), inset 0 0 20px rgba(38, 101, 98,.1);
    
}

#sendButton:hover {

    box-shadow: inset 0 0 20px rgba(38, 101, 98,.2), 0 2px 0 rgba(255,255,255,.4), inset 0 3px 0 rgba(38, 101, 98,.1);
}

#buttonText {

    text-align: center;
    margin-top: 13px;
}

#usersBox {

    position: absolute;
    height: 480px;
    width: 200px;
    margin-left: 402px;
    overflow: auto;
    
    border: 2px solid rgb(71, 150, 146);
    border-radius: 10px;
}

.footer {
 
    position: relative;
    width: 100%;
    height: 100px;
    
    background-image: url(resources/footer_background.png);
}