html, body {

    margin: 0;
    padding: 0;
    
    height: 100%;
}

.promt {
    
    display: none;
    position: fixed;
    
    height: 100%;
    width: 100%;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 0;
    
    background: rgba(0, 0, 0, 0.5);
}

.header {
 
    position: relative;
    
    height: 150px;
    width: 100%;
    
    background-image: url(resources/header_background.png);
}

#chatName {

    position: absolute;
    color: rgb(255,255,255);
    
    left: 50%;
    margin-left: -165px; 
    
    font-size: 60px;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
      
    height: 100%;
    line-height: 150px;
}

.main {
 
    position: relative;
    
    height: 75%;
    width: 100%;
    max-height: none;

    background-color: #d8d8d8;
}

.chatWindow {

    position: relative;
    margin: auto;
    
    top: 40px;
    
    height: 600px;
    width: 606px;
}

.messageBox {
 
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    position: absolute;
    
    height: 460px;
    width: 340px;
    
    overflow-x: hidden;
    
    background-color: #e3e3e3;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.message {

    padding-top: 1px;
    padding-bottom: 3px;
    display: block;
    
    height: auto;
    width: 340px;
}

.hiddenMessageBox {
 
    position: absolute;
    display: block;
    
    height: 480px;
    width: 400px;
    text-align: center;
    line-height: 460px;
    
    color: grey;
    
    background-color: #d8d8d8;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.user {

    color: rgb(61, 134, 130);
}

.text {

}

#editMessageButton {
 
    position: absolute;
    
    height: 20px;
    width: 20px;
    
    left: 329px;
}

#deleteMessageButton {
 
    position: absolute;
    
    height: 20px;
    width: 20px;
    
    left: 350px;
}

.userBox {

    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    position: absolute;
    
    height: 460px;
    width: 150px;
    
    margin-left: 402px;
    left: 2px;
    
    overflow-x: hidden;
    
    background-color: #e3e3e3;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.hiddenUserBox {
 
    display: block;
    position: absolute;
    
    height: 480px;
    width: 200px;
    text-align: center;
    line-height: 460px;
    
    margin-left: 402px;
    left: 2px;
    
    color: grey;
    
    background-color: #d8d8d8;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

#username {
 
    padding: 2px;
    display: none;
    
    width: auto;
    height: auto;
    
    color: rgb(61, 134, 130);
    
    background-color: #d9d9d9;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.buttonBox {
 
    position: absolute;
    
    height: 30px;
    width: 100%;

    top: 558px;
}

#textBox {

    padding-top: 3px;
    padding-left: 4px;
  
    position: absolute;
    
    height: 67px;
    width: 396px;
    
    top: 484px;
    
    overflow: auto;
    outline: 0;
    
    background-color: #F2F2F2;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.loginBox {
    
    position: absolute;
    
    height: 30px;
    width: 202px;
    
    top: 484px;
    left: 404px;
}

#editLoginButton {
 
    position: absolute;
    
    height: 30px;
    width: 100px;
    
    left: 102px;

    cursor: pointer;
    outline: 0;
    
    color: white;
    background-color: #58a8a4;
    
    border-radius: 6px;
    border: 0;
}

#editLoginButton:hover {

    background-color: #58b9b4;
}

#editLoginButton:active {
     
    background-color: #4a9591;
}

#logoutButton {

    position: absolute;
    
    height: 30px;
    width: 100px;
    
    cursor: pointer;
    outline: 0;
    
    color: white;
    background-color: #58a8a4;
    
    border: 0;
    border-radius: 6px;
}

#logoutButton:hover {

    background-color: #58b9b4;
}

#logoutButton:active {
     
    background-color: #4a9591;
}

#sendButton {

    position: absolute;
    display: block;
    
    height: 28px;
    width: 85px;
    
    color: white;
    
    cursor: pointer;
    outline: 0;
    
    background-color: #58a8a4;
    
    border-radius: 6px;
    border: 0;
    
}

#sendButton:hover {

    background-color: #58b9b4;
}

#sendButton:active {
     
    background-color: #4a9591;
}

.footer {
 
    position: relative;
  
    height: 100px;
    width: 100%;
    
    background-image: url(resources/footer_background.png);
}