html, body {

    margin: 0;
    padding: 0;
    height: 100%;
}

.loginWindowBackground {
    
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 0;
    background: rgba(0, 0, 0, 0.5);
}

#loginWindow {

    position: absolute;
    margin: auto;
    height: 140px;
    width: 350px;
    margin: -70px 0 0 -175px;
    top: 50%;
    left: 50%;
    background-color: #c1c1c1;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 10px;
}

#loginWindowAlert {
    
    text-align: center;
    margin-top: 16px;
    color: rgb(64, 181, 176);
    font-size: 20px;
    font-family: 'Arial Black', 'Arial Bold', sans-serif;
}

#loginWindowInput {

    padding-left: 6px;
    position: absolute;
    line-height: 27px;
    height: 30px;
    width: 80%;
    outline: 0;
    margin-top: 12px;
    margin-left: 30px;
    background-color: #F2F2F2;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 10px;
}

#loginWindowButton {

    position: absolute;
    height: 30px;
    width: 130px;
    margin-top: 53px;
    margin-left: 36px;
    cursor: pointer;
    outline: 0;
    color: white;
    background-color: #58a8a4;
    border: 0;
    border-radius: 10px;
}

#loginWindowButton:hover {

    background-color: #58b9b4;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#loginWindowButton:active {
     
    background-color: #4a9591;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#dismissLoginWindowButton {

    position: absolute;
    height: 30px;
    width: 130px;
    margin-top: 53px;
    margin-left: 176px;
    cursor: pointer;
    outline: 0;
    color: white;
    background-color: #a85858;
    border: 0;
    border-radius: 10px;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#dismissLoginWindowButton:hover {

    background-color: #b95858;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#dismissLoginWindowButton:active {
     
    background-color: #954a4a;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.header {
 
    position: relative;
    height: 150px;
    width: 100%;
    background-image: url(resources/header_background.png);
}

#serverIndicator {

    text-align: center;
    height: 30px;
    line-height: 30px;
    font-family: "Arial Black", "Arial Bold", "Gadget";
    color: #c2ffe3;
    background-color: #58b98c;
    
    transition-property: "backgroung-color", "color";
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

#serverIndicator:hover {

    color: #ffc2c2;
    background-color: #b95c58;
    
    transition-property: "backgroung-color", "color";
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

#chatName {

    position: absolute;
    color: rgb(255,255,255);
    left: 50%;
    margin-left: -165px;
    font-size: 60px;
    font-family: "Arial Black", "Arial Bold", "Gadget";
    height: 100%;
    line-height: 150px;
}

.main {
 
    position: relative;
    height: 75%;
    width: 100%;
    max-height: none;
    background-color: #d8d8d8;
}

.chatWindow {

    position: relative;
    margin: auto;
    top: 30px;
    height: 600px;
    width: 606px;
}

.messageBox {
 
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    position: absolute;
    height: 460px;
    width: 340px;
    overflow-x: hidden;
    background-color: #e3e3e3;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.message {

    padding-top: 1px;
    padding-bottom: 3px;
    height: auto;
    width: 340px;
}

.hiddenMessageBox {
 
    position: absolute;
    display: block;
    height: 480px;
    width: 400px;
    text-align: center;
    line-height: 480px;
    color: grey;
    background-color: #d8d8d8;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.text {

    white-space: pre-wrap;
    word-wrap: break-word;
}

.user {

    color: rgb(61, 134, 130);
}

#editMessageButton {
 
    position: absolute;
    height: 20px;
    width: 20px;
    left: 329px;
}

#deleteMessageButton {
 
    position: absolute;
    height: 20px;
    width: 20px;
    left: 350px;
}

.userBox {

    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    position: absolute;
    height: 460px;
    width: 150px;
    margin-left: 402px;
    left: 2px;
    overflow-x: hidden;
    background-color: #e3e3e3;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.hiddenUserBox {
 
    display: block;
    position: absolute;
    height: 480px;
    width: 200px;
    text-align: center;
    line-height: 480px;
    margin-left: 402px;
    left: 2px;
    color: grey;
    background-color: #d8d8d8;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

#username {
 
    padding: 2px;
    display: none;
    width: auto;
    height: auto;
    color: rgb(61, 134, 130);
    background-color: #d9d9d9;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.buttonBox {
 
    position: absolute;
    height: 30px;
    width: 100%;
    top: 558px;
}

#textBox {

    padding-top: 3px;
    padding-left: 4px;
    position: absolute;
    height: 67px;
    width: 396px;
    top: 484px;
    overflow: auto;
    outline: 0;
    background-color: #F2F2F2;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.hiddenTextBox {

    position: absolute;
    top: 484px;
    height: 70px;
    width: 400px;
    text-align: center;
    line-height: 70px;
    display: block;
    color: grey;
    background-color: #d8d8d8;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.loginBox {
    
    position: absolute;
    height: 30px;
    width: 202px;
    top: 484px;
    left: 404px;
}

#editLoginButton {
 
    position: absolute;
    display: none;
    height: 30px;
    width: 100px;
    left: 102px;
    cursor: pointer;
    outline: 0;
    color: white;
    background-color: #58a8a4;
    border-radius: 6px;
    border: 0;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#editLoginButton:hover {

    background-color: #58b9b4;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#editLoginButton:active {
     
    background-color: #4a9591;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#loginButton {

    position: absolute;
    display: block;
    height: 30px;
    width: 100px;
    cursor: pointer;
    outline: 0;
    color: white;
    background-color: #58a8a4;
    border: 0;
    border-radius: 6px;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#loginButton:hover {

    background-color: #58b9b4;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#loginButton:active {
     
    background-color: #4a9591;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#logoutButton {

    position: absolute;
    display: none;
    height: 30px;
    width: 100px;
    cursor: pointer;
    outline: 0;
    color: white;
    background-color: #58a8a4;
    border: 0;
    border-radius: 6px;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#logoutButton:hover {

    background-color: #58b9b4;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#logoutButton:active {
     
    background-color: #4a9591;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#sendButton {

    position: absolute;
    display: block;
    height: 28px;
    width: 85px;
    color: white;
    cursor: pointer;
    outline: 0;
    background-color: #58a8a4;
    border-radius: 6px;
    border: 0;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#sendButton:hover {

    background-color: #58b9b4;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

#sendButton:active {
     
    background-color: #4a9591;
    
    transition-property: "backgroung-color";
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.footer {
 
    position: fixed;
    display: block;
    height: 10%;
    width: 100%;
    background-image: url(resources/footer_background.png);
}