html, body {

    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
 
    position: relative;
    width: 100%;
    height: 15%;
    
    background-image: url(resources/header_background.png);
}

#chatName {

    position: absolute;
    color: rgb(255,255,255);
    
    font-size: 60px;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    
    line-height: 150px;
    height: 100%;
    
    left: 50%;
    margin-left: -165px;  
}

.main {
 
    position: relative;
    width: 100%;
    height: 75%;
    max-height: none;

    background-color: #d8d8d8;
}

.chatWindow {

    position: relative;
    top: 7%;
    height: 86%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.messageBox {
 
    position: absolute;
    height: 82%;
    width: 74%;
    overflow: auto;
    background-color: #e3e3e3;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.usersBox {

    position: absolute;
    height: 82%;
    width: 25%;
    overflow: auto;
    background-color: #e3e3e3;
    margin-left: 75%;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.buttonBox {
 
    position: absolute;
    width: 100%;
    height: 6%;
    margin-top: %;
}

#textBox {

    padding: 4px;
    position: absolute;
    height: 10%;
    width: 74%;
    display: block;
    overflow: auto;
    margin-top: 70%;
    background-color: #F2F2F2;
    margin-left: 1%;
    
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

.loginBox {
    
    position: absolute;
    height: 5%;
    width: 25%;
    margin-left: 75%;
    margin-top: 70%;
}

#login {
    
    position: absolute;
    height: 24px;
    line-height: 150%;
    outline: 0;
    width: 68%;
    background-color: #F2F2F2;
    border: 1px solid rgb(71, 150, 146);
    border-radius: 6px;
}

#confirmLoginButton {
 
    height: 26px;
    width: 30%;
    margin-left: 71%; 
    position: absolute;
    background-color: #58a8a4;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    border: 0;
}

#confirmLoginButton:hover {

    background-color: #58b9b4;
}

#confirmLoginButton:active {
     
    background-color: #4a9591;
}

#sendButton {

    position: absolute;
    display: block;
    height: 28px;
    width: 85px;
    top: 2px;
    background-color: #58a8a4;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    border: 0;
    
}

#sendButton:hover {

    background-color: #58b9b4;
}

#sendButton:active {
     
    background-color: #4a9591;
}

.footer {
 
    position: relative;
    width: 100%;
    height: 10%;
    
    background-image: url(resources/footer_background.png);
}